@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');


header {
    background-color: #E6E6E6;
    width: 1440px;
    height: 188.19px;
    text-align: center;
}

.img-header {
    padding: 20px;
    width: 100px;
    height: 146.37px;
}

body {
    color: black;
    font-family: 'Poppins';
    font-size: 20px;
}

.title {
    background-color: #C4C4C4;
    color:#005677;
    font-size: 40px;
    font-weight:bolder;
    margin-top: -5px;
    width: 1440px;
    text-align: center;
}

.subtitle {
    background-color: #C4C4C4;
    color:#005677;
    font-weight: bold;
}

footer {
    background-color: #005677; 
    color: white; 
    font-weight:bolder;
    text-align: center;
}

