@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&family=Roboto+Slab:wght@100;200;300;400;500&family=Roboto:wght@100;300&display=swap');

/* Root */
* {
    box-sizing: border-box;
    font-family: 'Roboto';
}

body {
    background-color:#E5E5E5;
}

/* Header/Encabezado de la pagina */
header {
    background-color:#222222;
    color: #F3F3F3;
    display: flex;
}

/* Imagen y titulo */
.container {
    display: flex;
    width: 500px;
}

.container .image {
    display: flex;
    justify-content: center;
    left: 20px;
    position: relative;
}

.container .box {
    display: flex;
    align-items: center;
}

.container .box .title {
    color: green;
    font-size: 40px;
}

.container .box .title2 {
    color: white;
    font-size: 40px;

}.container .box .title3 {
    color: red;
    font-size: 40px;
}

/* Menu de navegacion*/
.container2 {
    align-items: center;
    display: flex;
    justify-content: end;
    left:900px;
    position:relative;
    width: 600px;
}

.container2 .nav-bar ul {
    display: flex;
    justify-content: end;
}

.container2 .nav-bar ul a{
    color: #F3F3F3;
    font-size: 30px;
    padding: 30px;
    text-decoration: none;
}

/* Main */
/* Imagen motocicleta */
.container-main {
    display: flex;
    justify-content: center;
}

.container-main .image2 img {
    border-radius: 1em;
    position: relative;
    top: 25px;
    left: -25px;
    width:1000px;
}


/* Podio de pizzas */
.container-main .box-main {
    background-color: #FFFFFF;
    border-radius: 1em;
    position: relative;
    left: -25px;
    top:45px;
    width:900px;
    height: 710px;
}

.container-main .box-main .subtitle {
    color:red;
    font-size: 50px;
    text-align: center;
}

.container-main .box-main .subtitle2 {
    font-size: 50px;
    left: 80px;
    position: relative;
    top: 20px;
}

.container-main .box-main ol li  {
    font-size: 40px;
    left: 60px;
    position: relative;
    top: 30px;
}


.container-main .image3 {
    position: relative;
    right: 40px;
    top: 5px;
}

.container-main .image3 img {
    position: absolute;
    right: 40px;
    bottom: 50px;
    width: 150px;
}

/* Footer/Pie de pagina */
/* Menu de navegacion */
footer {
    background-color:#222222;
    color: #F3F3F3;
    display: flex;
}

.container3 {
    display: flex;
    justify-content: start;
    flex-direction: column;
    left: -30px;
    position:relative;
    width: 600px;
}

.container3 .nav-bar ul {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}

.container3 .nav-bar ul a{
    color: #F3F3F3;
    font-size: 30px;
    line-height: 50px;
    padding: 30px;
    text-decoration: none;
}

.container4 {
    align-items: center;
    display: flex;
    left: 1000px;
    position: relative;
}

.container4 .image4 {
    display: flex;
    justify-content: center;
    position: relative;
}

.container4 .subtitle {
    color: green;
    font-size: 30px;
    font-weight: bold;
}

.container4 .subtitle2 {
    color: white;
    font-size: 30px;
    font-weight: bold;

}.container4 .subtitle3 {
    color: red;
    font-size: 30px;
    font-weight: bold;
}

