@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&family=Roboto+Slab:wght@100;200;300;400;500&family=Roboto:wght@100;300&display=swap');
/* Root */
* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* Header */

.header-box {
    background-color: #1CD1B0;
    height: 30px;
}

.header-box2 {
    background-color: #00669F;
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
    width:2012px;
    height: 101px;
    margin-top: -25px;
}

/* Cuerpo de la pagina */
body {
    background-color:white;
}

/* MAIN */
@media(min-width: 480px) and (orientation: portrait){
    main .container {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        top: 5vh;
    }
    
    /* BATMAN  */
    main .box1 {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        top: 5vh;
    }
    
    main .box1 .bg-batman {
        background-color: #F3F3F3;
        background-image: url("/img/batmanbg.png");
        background-repeat: no-repeat;
        background-size: contain;
        border: none;
        border-radius: 0.2em;
        height: 94vh;
        width: 60vw;
    }
    
    main .bg-batman .img2 img {
        border-radius: 10em;
        left: 30%;
        position: relative;
        top: 22vh;
        width: 120px;
    }
    
    main .bg-batman .img3 img {
        border-radius: 10em;
        left: 5%;
        position: relative;
        bottom: 18vh;
        width: 25px;
    }
    
    main .bg-batman .card {
        position: relative;
        top: 17vh;
    }
    
    main .bg-batman .card .title {
        font-size: 25px;
        text-align: center;
    }
    
    main .bg-batman .card .text {
        bottom: 3vh;
        font-size: 15px;
        padding: 20px;
        position: relative;
        text-align: justify;
    }
    
    main .bg-batman .card .btn {
        background-color: #00669F;
        border: none;
        bottom: 4vh;
        color: #F3F3F3;
        left: 13vh;
        padding: 10px;
        position: relative;
        width: 30vw;
    }
    
    /* MUJER MARAVILLA */
    main .box2 {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        top: 10vh;
    }
    
    main .box2 .bg-maravilla{
        background-color: #F3F3F3;
        background-image: url("/img/amazoniua.png");
        background-repeat: no-repeat;
        background-size: contain;
        border: none;
        border-radius: 0.8em;
        height: 115vh;
        width: 60vw;
    }
    
    main .bg-maravilla .img4 img {
        border-radius: 10em;
        left: 30%;
        position: relative;
        top: 20vh;
        width: 120px;
    }
    
    main .bg-maravilla .img5 img {
        border-radius: 10em;
        left: 5%;
        position: relative;
        width:25px;
    }
    
    main .bg-maravilla .card2 {
        position: relative;
        top: 17vh;
    }
    
    main .bg-maravilla .card2 .title2 {
        font-size: 25px;
        text-align: center;
    }
    
    main .bg-maravilla .card2 .text2 {
        bottom: 3vh;
        font-size: 15px;
        padding: 20px;
        position: relative;
        text-align: justify;
    }
    
    main .bg-maravilla .card2 .btn2 {
        background-color: #00669F;
        border: none;
        bottom: 4vh;
        color: #F3F3F3;
        left: 13vh;
        padding: 10px;
        position: relative;
        width: 30vw;
    }
    
    /*  HARLEY QUINN */
    main .box3 {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        top: 15vh;
    }
    
    main .box3 .bg-harley {
        background-color: #F3F3F3;
        background-image: url("/img/harly.png");
        background-repeat: no-repeat;
        background-size: contain;
        border: none;
        border-radius: 0.2em;
        height: 95vh;
        width: 60vw;
    }
    
    main .bg-harley .img6 img {
        border-radius: 10em;
        left: 30%;
        position: relative;
        top: 22vh;
        width: 120px;
    }
    
    main .bg-harley .img7 img {
        border-radius: 10em;
        left: 5%;
        position: relative;
        bottom: 18vh;
        width: 25px;
    }
    
    main .bg-harley  .card3 {
        position: relative;
        top: 17vh;
    }
    
    main .bg-harley  .card3 .title3 {
        font-size: 25px;
        text-align: center;
    }
    
    main .bg-harley  .card3 .text3 {
        bottom: 3vh;
        font-size: 15px;
        padding: 20px;
        position: relative;
        text-align: justify;
    }
    
    main .bg-harley .card3 .btn3 {
        background-color: #00669F;
        border: none;
        bottom: 4vh;
        color: #F3F3F3;
        left: 13vh;
        padding: 10px;
        position: relative;
        width: 30vw;
    }
}

/* Tarjeta Batman */
.box1 {   
   background-color: rgb(214, 214, 214);
   border-radius: 0px 0px 16px 16px;
   position:relative;
   height: 650px;
   left: 202px;
   top: 92px;
   width: 400px;
}

.img1 img {
    border-radius: 16px 16px 0px 0px;
    bottom: 20px;
    height: 253px;
    position: relative;
    right: 40px;
    width: 400px;
}

.img2 img {
    border-radius: 10rem;
    bottom: 150px;
    position: relative;
    left: 50px;
    width: 200px;
}

.img3 img {
    bottom: 490px;
    position: relative;
    right: 20px;
    width: 30px;
}

.card {
    bottom: 160px;
    text-align: center;
    position: relative;
}

.text {
    bottom: 30px;
    position: relative;
    text-align: justify;
    padding: 30px;
}

.btn {
    background-color:#00669F;
    bottom: 20px;
    color: #F3F3F3;
    display: inline-block;
    font-size: 16px;
    height: 50px;
    position: relative;
    width: 130px;
    bottom: 35px;
}

/* Tarjeta Harley Quinn */
.box2 {   
    background-color: rgb(214, 214, 214);
    border-radius: 0px 0px 16px 16px;
    position:relative;
    height: 650px;
    left: 800px;
    bottom: 580px;
    width: 400px;
}

.img4 img {
    border-radius: 0px 0px 0px 0px;
    bottom: 20px;
    height: 253px;
    position: relative;
    right: 40px;
    width: 400px;
}

.img5 img {
    border-radius: 10rem;
    bottom: 150px;
    position: relative;
    left: 65px;
    width: 200px;
}

.img6 img {
    bottom: 490px;
    position: relative;
    right: 20px;
    width: 30px;
}

.card2 {
    bottom: 160px;
    text-align: center;
    position: relative;
}

.text2 {
    bottom: 30px;
    position: relative;
    text-align: justify;
    padding: 30px;
}

.btn2 {
    background-color:#00669F;
    bottom: 20px;
    color: #F3F3F3;
    display: inline-block;
    font-size: 16px;
    height: 50px;
    position: relative;
    width: 130px;
    bottom: 35px;
}

/* Tarjeta Batman */
.box3 {   
    background-color: rgb(214, 214, 214);
    border-radius: 16px 16px 16px 16px;
    position:relative;
    height: 650px;
    left: 1400px;
    bottom: 1240px;
    width: 400px;
}

.img7 img {
    border-radius: 16px 16px 0px 0px;
    bottom: 20px;
    height: 253px;
    position: relative;
    right: 40px;
    width: 400px;
}

.img8 img {
    border-radius: 10rem;
    bottom: 150px;
    position: relative;
    left: 65px;
    width: 200px;
}

.img9 img {
    bottom: 490px;
    position: relative;
    right: 20px;
    width: 30px;
}

.card3 {
    bottom: 160px;
    text-align: center;
    position: relative;
}

.text3 {
    bottom: 30px;
    position: relative;
    text-align: justify;
    padding: 30px;
}

.btn3 {
    background-color:#00669F;
    bottom: 20px;
    color: #F3F3F3;
    display: inline-block;
    font-size: 16px;
    height: 50px;
    position: relative;
    width: 130px;
    bottom: 35px;
}
/* Footer */
.footer2 {
    position: relative;
    bottom: 1270px;
    background-color:#00669F;
    height:51px;
}

.footer2  p {
    color: #F3F3F3;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    top: 20px;
}